<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='stylesheets/style.css'>
    <link rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <title>BirthDate</title>
  </head>
  <body>
    <h1>Birth</h1>
    <form class='addchild'>
      <div class='form-group'>
        <br>
        <label for='first'>First Name</label>
        <input class='form-control' id='first' type='integer' name='first'>
      </div>
      <div class='form-group'>
        <label for='middle'>Middle Name</label>
        <input class='form-control' id='middle' type='integer' name='middle'>
      </div>
      <div class='form-group'>
        <label for='last'>Last Name</label>
        <input class='form-control' id='last' type='text' name='last'>
      </div>
      <div class='form-group'>
        <label for='dob'>Date of Birth</label>
        <input class='form-control' id='dob' type='date' name='dob'>
      </div>
      <div class='form-group'>
        <label for='time'>Time of Birth</label>
        <input class='form-control' id='time' type='time' name='time'>
      </div>
      <div class='form-group'>
        <label for='place'>Birth Place</label>
        <input class='form-control' id='place' type='text' name='place'>
      </div>
      <div class='form-group'>
        <label for='hospital'>Name of Hospital</label>
        <input class='form-control' id='hospital' type='text' name='hospital'>
      </div>
      <div class="form-group">
        <label for="firstImage">Upload Baby's first photo</label>
        <input type="file" id="firstImage">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class='form-group'>
        <label for='weight'>Weight</label>
        <input class='form-control' id='weight' type='text' name='weight'>
      </div>
      <div class='form-group'>
        <label for='height'>Height</label>
        <input class='form-control' id='height' type='text' name='height'>
      </div>
      <div class='form-group'>
        <label for='hair'>Hair Color</label>
        <input class='form-control' id='hair' type='text' name='hair'>
      </div>
      <div class='form-group'>
        <label for='eye'>Eye Color</label>
        <input class='form-control' id='eye' type='text' name='eye'>
      </div>
      <div class='form-group'>
        <label for='condition'>Baby's condition</label>
        <input class='form-control' id='condition' type='text' name='condition'>
      </div>
      <div class='button'>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='javascripts/controllers/profile_controller.js'></script>
    <script type="text/javascript" src='javascripts/services/profile_service.js'></script>
  </body>
</html>
