<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="http://www.clipartbest.com/cliparts/dc8/5aG/dc85aGkce.png">
    <title>Weight Chart</title>
  </head>
  <body>
    <div class="measurement_edit">
      <form action="/journals/growth/weight/update?year=4" class="edit_kid" id="edit_kid_34577" method="post"><div style="margin:0;padding:0"><input name="_method" type="hidden" value="put"></div>
        <table id="year_4">
          <thead>
            <tr>
              <th class="dark">Age (months)</th>

                <th class="light">37</th>

                <th class="dark">38</th>

                <th class="light">39</th>

                <th class="dark">40</th>

                <th class="light">41</th>

                <th class="dark">42</th>

                <th class="light">43</th>

                <th class="dark">44</th>

                <th class="light">45</th>

                <th class="dark">46</th>

                <th class="light">47</th>

                <th class="dark">48</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="dark">

                  Pounds

                </td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light">39</td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


              </tr>

              <tr>
                <td class="dark">

                  Ounces

                </td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light">6</td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


                  <td class="light"></td>


                  <td class="dark"></td>


              </tr>


              <tr>
                <td class="dark">Percentile</td>

                  <td class="light"></td>

                  <td class="dark"></td>

                  <td class="light">92%</td>

                  <td class="dark"></td>

                  <td class="light"></td>

                  <td class="dark"></td>

                  <td class="light"></td>

                  <td class="dark"></td>

                  <td class="light"></td>

                  <td class="dark"></td>

                  <td class="light"></td>

                  <td class="dark"></td>


              </tr>

          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
