<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='stylesheets/style.css'>
    <link rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <title>GrowthTable</title>
  </head>
  <body>
    <h1>Growth Tracker</h1>
    <table style="width:100%; border: 2px solid lightblue;">
      <thead>
        <tr style="border: 2px solid blue;">
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">Age</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">2 weeks</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">1 month</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">2 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">4 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">6 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">9 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">12 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">15 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">18 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">21 months</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">2 years</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">3 years</th>
          <th style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">4 years</th>
          <th style="border-bottom:2px solid lightblue; border-collapse: collapse">5 years</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: bold; padding: 5px 10px; text-align: center; border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">Weight</td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-bottom:2px solid lightblue; border-collapse: collapse"></td>
        </tr>
        <tr>
          <td style="font-weight: bold; padding: 5px 10px; text-align: center; border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse">Height</td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-bottom:2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-bottom:2px solid lightblue; border-collapse: collapse"></td>
        </tr>
        <tr>
          <td style="font-weight: bold; padding: 5px 10px; text-align: center; border-right: 2px solid lightblue; border-collapse: collapse">Percentile</td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-right: 2px solid lightblue; border-collapse: collapse"></td>
          <td style="border-collapse: collapse"></td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='javascripts/controllers/profile_controller.js'></script>
    <script type="text/javascript" src='javascripts/services/profile_service.js'></script>
  </body>
</html>
