<!DOCTYPE html>
<html ng-app='myTracker'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='stylesheets/style.css'>
    <link rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <title>Milestones</title>
  </head>
  <body ng-controller='MainController'>
    <h1>Milestones</h1>
    {{2+2}}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click='toggleForm("smile")' style="background-color: #EDF6FB; font-size:12.5px">First Smile <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("sound")' style="background-color: #EDF6FB; font-size:12.5px">First Sound <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("head")' style="background-color: #EDF6FB; font-size:12.5px">Holds Head <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("roll")' style="background-color: #EDF6FB; font-size:12.5px">Rolls Over <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("sit")' style="background-color: #EDF6FB; font-size:12.5px">Sits Up <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("crawl")' style="background-color: #EDF6FB; font-size:12.5px">Crawls <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("helpStand")' style="background-color: #EDF6FB; font-size:12.5px">Supported Standing <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("aloneStand")' style="background-color: #EDF6FB; font-size:12.5px">Standing Alone <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("helpWalk")' style="background-color: #EDF6FB; font-size:12.5px">Suppoerted Walking <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("aloneWalk")' style="background-color: #EDF6FB; font-size:12.5px">Walking alone <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("word")' style="background-color: #EDF6FB; font-size:12.5px">First Words <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("song")' style="background-color: #EDF6FB; font-size:12.5px">Fav Song <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#" ng-click='toggleForm("story")' style="background-color: #EDF6FB; font-size:12.5px">Fav Story <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <form ng-show='showForm.smile' class='addchild'>
      <div class='form-group'>
        <br>
        <label for='smile'>First Smile</label>
        <input class='form-control' id='smile' type='date' name='smile'><br>
        <label for='comment1'>Comment</label>
        <textarea class='form-control' id='comment1' type='text' name='comment1'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.sound' class='addchild'>
      <div class='form-group'>
        <label for='sound'>First Sound</label>
        <input class='form-control' id='sound' type='date' name='sound'><br>
        <label for='comment2'>Comment</label>
        <textarea class='form-control' id='comment2' type='text' name='comment2'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.head' class='addchild'>
      <div class='form-group'>
        <label for='holdHead'>Holds head up</label>
        <input class='form-control' id='holdHead' type='date' name='holdHead'><br>
        <label for='comment3'>Comment</label>
        <textarea class='form-control' id='comment3' type='text' name='comment3'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.roll' class='addchild'>
      <div class='form-group'>
        <label for='rolls'>Rolls over</label>
        <input class='form-control' id='rolls' type='date' name='rolls'><br>
        <label for='comment4'>Comment</label>
        <textarea class='form-control' id='comment4' type='text' name='comment4'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.sit' class='addchild'>
      <div class='form-group'>
        <label for='sitUp'>Sits up</label>
        <input class='form-control' id='sitUp' type='date' name='sitUp'><br>
        <label for='comment5'>Comment</label>
        <textarea class='form-control' id='comment5' type='text' name='comment5'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.crawl' class='addchild'>
      <div class='form-group'>
        <label for='crawl'>Crawls</label>
        <input class='form-control' id='crawl' type='date' name='crawl'><br>
        <label for='comment6'>Comment</label>
        <textarea class='form-control' id='comment6' type='text' name='comment6'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.helpStand' class='addchild'>
      <div class='form-group'>
        <label for='supportStand'>Stands with support</label>
        <input class='form-control' id='supportStand' type='date' name='supportStand'><br>
        <label for='comment7'>Comment</label>
        <textarea class='form-control' id='comment7' type='text' name='comment7'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.aloneStand' class='addchild'>
      <div class="form-group">
        <label for="aloneStand">Stands alone</label>
        <input class='form-control' id='aloneStand' type="date" name='aloneStand'><br>
        <label for='comment8'>Comment</label>
        <textarea class='form-control' id='comment8' type='text' name='comment8'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.helpWalk' class='addchild'>
      <div class='form-group'>
        <label for='helpWalk'>Walks with help</label>
        <input class='form-control' id='helpWalk' type='date' name='helpWalk'><br>
        <label for='comment9'>Comment</label>
        <textarea class='form-control' id='comment9' type='text' name='comment9'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.aloneWalk' class='addchild'>
      <div class='form-group'>
        <label for='aloneWalk'>Walks alone</label>
        <input class='form-control' id='aloneWalk' type='date' name='aloneWalk'><br>
        <label for='comment10'>Comment</label>
        <textarea class='form-control' id='comment10' type='text' name='comment10'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.word' class='addchild'>
      <div class='form-group'>
        <label for='firstWords'>First words</label>
        <input class='form-control' id='firstWords' type='date' name='firstWords'><br>
        <label for='comment11'>Comment</label>
        <textarea class='form-control' id='comment11' type='text' name='comment11'></textarea><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.song' class='addchild'>
      <div class='form-group'>
        <label for='favSongs'>Favorite song</label><br>
        <input class='form-control' id='favSongs' type='text' name='favSongs'><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <form ng-show='showForm.story' class='addchild'>
      <div class='form-group'>
        <label for='favStory'>Favorite story</label><br>
        <input class='form-control' id='favStory' type='text' name='favStory'><br>
        <button type='submit' ng-click='createChild()'>Submit</button>
      </div>
    </form>
    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='javascripts/controllers/profile_controller.js'></script>
    <script type="text/javascript" src='javascripts/services/profile_service.js'></script>
  </body>
</html>
