doctype html
html(ng-app='myTracker')
  head
    meta(charset='utf-8')
    title Development Tracker
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    h1.title Welcome to your online baby book
    br
    form.addchild(action='/create' method='POST')
      h4 Add a Child
      .form-group
        br
        label(for='first') First Name:
        input#first(type='integer', name='first')
      .form-group
        label(for='middle') Middle Name
        input#middle(type='integer', name='middle')
      .form-group
        label(for='last') Last Name
        input#last(type='text', name='last')
      .form-group
        label(for='dob') Date of Birth
        input#dob(type='date', name='dob')
      .form-group
        p Sex
        input(type='radio', value='Female')
        label(for='girl')  Boy 
        input(type='radio', value='Female')
        label(for='girl')  Girl 
      .button
        button(type='submit') Submit
    script(type='text/javascript', src='app.js')
    // <script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    script(type='text/javascript', src='bower_components/angular/angular.min.js')
    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
